
body{
    background-color:aliceblue;
    font-family: 'Courier New', Courier, monospace;
}
p{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
header {
    background: #e6e6ff;
    color: #1a237e;
}
main {
    background: #121212;
    color: #ffffff;
}
section {
    background: #e8f5e9;
    color: #1b1b1b;
}
footer{
    background-color: rgb(223, 220, 220);
    color: rgb(7, 0, 0);
}